<h1>Results</h1>
  <p>This time, you answered <%= cookies[:correct] %>/<%= cookies[:max] %> correctly!</p>
  <% if @h1 %>
    <% @h1.each do |attempt| %>
      <p>At <%= attempt.time %>, you answered <%= attempt.correct %>/<%= attempt.questions %> questions correctly</p>
    <% end %>
  <% end %>
<a href="/"><button class="text-center">RESTART QUIZ!</button></a>
