<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.text %>
</p>

<% if @question.description != nil %>
  <p>
    <strong>Description:</strong>
    <%= @question.description %>
  </p>
<% end %>

<% if @question.explaination != nil %>
  <p>
    <strong>Explaination:</strong>
    <%= @question.explaination %>
  </p>
<% end %>

<form action="/question/answer" method="post" accept-charset="UTF-8" >

  <% @question.answers.collect(&:text).each_with_index do |questionText, index|%>
    <% if questionText != nil %>
    <div class="form-group">
      <input type="radio" id="answer" name="result" value="<%= @question.answers.collect(&:correct)[index] %>" required/>
      <label for="answer"><%= questionText %></label>
    </div>
    <% end %>
  <% end %>
    <input name="submit" type="submit">
</form>
<br>

<p>
  <strong>Category:</strong>
  <%= @question.category %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @question.difficulty %>
</p>
