<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Explaination:</strong>
  
</p>

<%= form_with url: "/answer", method: :get do |form| %>

  <% @question.answers.collect(&:text).each_with_index do |questionText, index|%>
    <%= form.radio_button :result, "<%= @question.answers.collect(&:correct)[index] %>" %>
    <%= form.label :question, "<%= questionText %>" %>
  <% end %>
<% end %>

<p>
  <strong>Category:</strong>
  <%= @question.category %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @question.difficulty %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
