<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">Evan Mason. S3688949@student.rmit.edu</a>
  </li>
</ul>
<% cookieArray = cookies[:list] ? cookies[:list].split(",") : [] %>

<p>COOKIE ID: <%=cookies[:userId] %></p>
<p>QUESTIONS COMPLETE:<%=cookies[:completed] %></p>
<p>CORRECT:<%=cookies[:correct] %></p>
<p>QUESTION MAX:<%=cookies[:max] %></p>
<p>RANDOM QUESTION LIST:<%=cookies[:list] %></p>

<% cookies[:list] = (cookieArray.class == Array) ? cookieArray.join(',') : '' %>

