<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container col-4" style="
    background: blue;
    color: white;
    border: beige;
    border: black solid 2px;
    border-radius: 14px;">
      
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
